:root {
    /****************** Font sizes ************/
    --fs-000: clamp(0.5277rem, 0.7015rem + -0.2242vw, 0.651rem);
    --fs-100: clamp(0.7035rem, 0.8131rem + -0.1414vw, 0.7813rem);
    --fs-200: clamp(0.9375rem, 0.9374rem + 0.0004vw, 0.9377rem);
    --fs-300: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --fs-400: clamp(1.35rem, 1.2206rem + 0.575vw, 1.6663rem);
    --fs-500: clamp(1.62rem, 1.3741rem + 1.0929vw, 2.2211rem);
    --fs-600: clamp(1.944rem, 1.5281rem + 1.8486vw, 2.9607rem);
    --fs-700: clamp(2.3328rem, 1.6726rem + 2.9343vw, 3.9467rem);
    --fs-800: clamp(2.7994rem, 1.7924rem + 4.4755vw, 5.2609rem);

    /****************** Paddings ************/
    --padding-0: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --padding-1: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
    --padding-2: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
    --padding-3: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --padding-4: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
    --padding-5: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
    --padding-6: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
    --padding-7: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
    --padding-8: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

    /****************** Margins and gaps ************/
    --gap-0: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
    --gap-1: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
    --gap-2: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
    --gap-3: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
    --gap-4: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
    --gap-5: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
    --gap-6: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
    --gap-7: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);
    --gap-8: clamp(6.75rem, 4.9091rem + 8.1818vw, 11.25rem);
    --gap-9: clamp(10.125rem, 8.1307rem + 8.8636vw, 15rem);
    --gap-10: clamp(13.5rem, 11.3523rem + 9.5455vw, 18.75rem);

    /****************** Colors ************/
    --bg-light: oklch(0.9239 0.0757 120);
    --bg: oklch(0.3826 0.0553 150);
    --bg-dark: hsl(120 15% 100%);

    --clr-black: hsl(0 5% 5%);
    --clr-white: hsl(0 5% 95%);

    --text: hsl(120 15% 5%);
    --text-muted : hsl(120 15% 25%);
    --clr-dark-light: hsl(120 15% 5%);

    --clr-accent: oklch(0.5175 0.2115 160);
    --clr-primary: oklch(0.7175 0.2115 40);

    --clr-border: hsl(120 15% 80%);

    /****************** Shadows ************/
    --shadow-light:
    0 2px 4px hsl(120 90% 20% / 0.10),
    0 0 6px hsl(120 90% 20% / 0.06);

    --shadow-medium:
    0 4px 8px hsl(120 90% 20% / 0.12),
    0 0 12px hsl(120 90% 20% / 0.08);

    --shadow-high:
    0 8px 16px hsl(120 90% 20% / 0.16),
    0 0 24px hsl(120 90% 20% / 0.10);
}

@layer reset, base, layout, utilities;

@layer reset {
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        font: inherit;
        box-sizing: border-box;
    }
    
    html {
        font-size: 16px;
        scroll-behavior: smooth;
        font-family: "Source Sans 3", inter, sans-serif;
    }
    
    body {
        min-height: 100dvh;
    }
    
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        text-wrap: balance;
        font-family: "DM Sans", inter, sans-serif;
    }
    
    p, span {
        max-width: 70ch;
        line-height: 1.6;
        text-wrap: pretty;
        color: var(--text-muted);
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: var(--clr-black);
    }
    
    button {
        border: none;
        cursor: pointer;
        background: none;
    }
    
    input, textarea, select {
        border: none;
        outline: none;
        color: inherit;
        background: none;
    }
    
    img, video, picture, svg, iframe {
        height: auto;
        display: block;
        max-width: 100%;
    }
}

@layer base {
    body {
        color: var(--text);
        background-color: var(--bg-dark);
    }

    /****************************************** HEADER **************************/
    header {
        background-color: var(--bg);
    }

    header h1 {
        color: var(--clr-white);
    }

    .nav-link {
        color: var(--clr-white);
    }

    .nav-link:hover  {
        color: var(--clr-primary);
    }

    @media (width < 750px) {
        .menu {
            transition: translate 300ms ease;
            background-color: var(--bg);
        }
    }
    /****************************************** HEADER **************************/

    /****************************************** HERO **************************/
    .hero-section .full-wrapper {
        border-image: fill 1 linear-gradient(hsl(0 0% 0% / .6), hsl(0 0% 0% / .6));

        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/hero.avif");
    }
    /****************************************** HERO **************************/

    /****************************************** CHALLENGES **************************/
    .challenge {
        border-radius: .5rem;
        box-shadow: var(--shadow-light);
        border: 1px solid var(--clr-border);
        padding: var(--padding-4) var(--padding-2);

        i {
            color: var(--bg);
        }
    }
    /****************************************** CHALLENGES **************************/
    
    /****************************************** FEATURES **************************/
    .features-section {
        background-color: var(--bg);

        h2 {
            color: var(--clr-white);
        }
    }

    .feature {
        border-radius: .5rem;
        background-color: var(--bg-dark);
        padding: var(--padding-4) var(--padding-2);

        i {
            color: var(--bg);
        }
    }
    /****************************************** FEATURES **************************/

    /****************************************** MAP **************************/
    .map-wrapper iframe {
        border-radius: .5rem;
        box-shadow: var(--shadow-light);
    }
    /****************************************** MAP **************************/

    /****************************************** METRICS **************************/
    .metric {
        border-radius: .5rem;
        box-shadow: var(--shadow-light);
        border: 1px solid var(--clr-border);
        padding: var(--padding-4) var(--padding-2);
    }
    /****************************************** METRICS **************************/

    /****************************************** TESTIMONIALS **************************/
    .testimonial {
        border-radius: .5rem;
        background-color: var(--bg-light);
        padding: var(--padding-4) var(--padding-2);

        span {
            color: var(--text);
        }

        img {
            object-fit: cover;
            border-radius: 50%;
        }
    }
    /****************************************** TESTIMONIALS **************************/

    /****************************************** AUDIENCE **************************/
    .audience-section img {
        border-radius: .5rem;

        @supports(corner-shape: squircle){
            border-radius: 3rem;
            corner-shape: squircle;
        }
    }
    /****************************************** AUDIENCE **************************/

    /****************************************** CTA **************************/
    .cta-section .wrapper {
        border-radius: .5rem;
        background-color: var(--bg);

        h2 {
            color: hsl(120 10% 95%);
        }

        p, span {
            color: hsl(120 10% 75%);
        }
    }
    /****************************************** CTA **************************/

    /****************************************** FOOTER **************************/
    footer {
        background-color: var(--bg);

        h3 {
            color: hsl(120 10% 95%);
        }

        p, span {
            color: hsl(120 10% 75%);
        }
    }
    /****************************************** FOOTER **************************/
}

@layer layout {
    /****************************************** HEADER **************************/
    header {
        top: 0;
        z-index: 10;
        position: sticky;
    }

    header .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: var(--padding-2);
    }

    .menu {
        display: flex;
        gap: var(--gap-1);
        align-items: center;
    }

    @media (width > 750px) {
        .open-menu, .close-menu {
            display: none;
        }
    }

    @media (width < 750px) {
        .menu {
            z-index: 10;
            inset: 0 0 auto 0;
            position: absolute;
            translate: 0 -100%;

            padding-block: var(--padding-7);

            display: flex;
            gap: var(--gap-4);
            flex-direction: column;
        }

        .menu.show {
            translate: 0 0;
        }
    }
    /****************************************** HEADER **************************/

    /****************************************** SECTIONS **************************/
    section + section {
        margin-top: var(--gap-7);
    }

    .wrapper {
        padding-block: var(--gap-5);
    }
    /****************************************** SECTIONS **************************/

    /****************************************** HERO **************************/
    .hero-section .full-wrapper {
        min-height: 70dvh;
        padding-block: var(--gap-6);
    }

    .hero-img-wrapper {
        z-index: 1;
        position: relative;

        img {
            width: 100%;
        }
    }

    @media (width < 750px) {
        .hero-img-wrapper img {
            aspect-ratio: 3 / 5;
            width: 100%;
        }
    }
    
     .hero-img-wrapper::after {
        inset: 0;
        z-index: 1;
        content: "";
        position: absolute;
        background: hsl(120 50% 10% / 0.6);
    }

    .hero-content {
        z-index: 2;

        padding-block: var(--padding-5);
        padding-inline: var(--padding-2);

        display: flex;
        gap: var(--gap-3);
        align-items: center;
        flex-direction: column;

        div {
            display: flex;
            flex-wrap: wrap;
            gap: var(--gap-2);
            align-items: center;
            justify-content: center;
        }

        * {
            color: var(--clr-white);
        }
    }
    /****************************************** HERO **************************/

    /****************************************** CHALLENGES **************************/
    .challenge-list {
        display: grid;
        gap: var(--gap-2);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    }


    .challenge {
        display: flex;
        gap: var(--gap-0);
        flex-direction: column;
        justify-content: space-between;
    }
    /****************************************** CHALLENGES **************************/
    
    /****************************************** FEATURES **************************/
    .feature-list {
        display: grid;
        gap: var(--gap-2);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    }


    .feature {
        display: flex;
        gap: var(--gap-0);
        flex-direction: column;
    }
    /****************************************** FEATURES **************************/

    /****************************************** MAP **************************/
    .map-wrapper iframe {
        width: 100%;
        aspect-ratio: 5 / 2;

        @media (width < 750px) {
            aspect-ratio: 5 / 3;
        }
    }
    /****************************************** MAP **************************/

    /****************************************** METRICS **************************/
    .metric-list {
        display: grid;
        gap: var(--gap-2);
        grid-template-rows: auto auto;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    }


    .metric {
        display: grid;
        grid-row: span 2;
        gap: var(--gap-0);
        align-items: center;
        grid-template-rows: subgrid;
    }
    /****************************************** METRICS **************************/

    /****************************************** TESTIMONIALS **************************/
    .testimonial-list {
        display: grid;
        gap: var(--gap-3);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    }

    .testimonial {
        display: flex;
        gap: var(--gap-0);
        flex-direction: column;
    }

    .testimonial-profile {
        display: flex;
        gap: var(--gap-1);
        align-items: center;

        img {
            width: 50px;
            aspect-ratio: 1 / 1;
        }
    }
    /****************************************** TESTIMONIALS **************************/

    /****************************************** AUDIENCE **************************/
    .audience-section .wrapper {
        display: grid;
        gap: var(--gap-4);
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    }
    /****************************************** AUDIENCE **************************/

    /****************************************** CTA **************************/
    .cta-section .wrapper {
        display: flex;
        gap: var(--gap-0);
        align-items: center;
        flex-direction: column;
        padding-inline: var(--padding-2);
    }
    /****************************************** CTA **************************/

    /****************************************** FOOTER **************************/
    footer {
        margin-top: var(--gap-8);
    }

    footer .wrapper {
        display: grid;
        gap: var(--gap-4);
        padding-block: var(--padding-6) var(--padding-4);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    }

    .quick-links, .ressources {
        display: flex;
        gap: var(--gap-0);
        flex-direction: column;
    }

    .mention {
        grid-column: 1 / -1;
    }
    /****************************************** FOOTER **************************/
}

@layer utilities {
    /****************************************** STRUCTURE**************************/
    .flow > * + * {
        margin-top: var(--gap-2);
    }

    .flow-xs > * + * {
        margin-top: var(--gap-0);
    }

    .flow-sm > * + * {
        margin-top: var(--gap-1);
    }

    .flow-md > * + * {
        margin-top: var(--gap-3);
    }

    .flow-lg > * + * {
        margin-top: var(--gap-4);
    }

    .wrapper {
        margin-inline: auto;
        width: min(100% - 2rem, 1080px);
    }
    /*********************** STRUCTURE**************************/


    /*********************** TYPOGRAPHY**************************/
    .text {
        font-size: var(--fs-300);
    }

    .text-xs {
        font-size: var(--fs-100);
    }

    .text-xm {
        font-size: calc((var(--fs-100) + var(--fs-200)) / 2);
    }

    .text-sm {
        font-size: var(--fs-200);
    }

    .text-md {
        font-size: var(--fs-400);
    }

    .text-lg {
        font-size: var(--fs-500);
    }

    .text-xl {
        font-size: var(--fs-600);
    }

    .text-2xl {
        font-size: var(--fs-700);
    }

    .text-3xl {
        font-size: var(--fs-800);
    }

    .text-lead {
        color: var(--text);
    }

    .text-muted {
        color: var(--text-muted);
    }

    .text-center {
        text-align: center;
        margin-inline: auto;
    }

    .text-bold {
        font-weight: 600;
    }

    .text-bolder {
        font-weight: 700;
    }
    /*********************** TYPOGRAPHY**************************/

    /*********************** BUTTONS**************************/
    .btn, .btn-sm, .btn-lg {
        border-radius: .5rem;
        display: inline-block;
    }

    .btn {
        padding: var(--padding-1) var(--padding-2);
        font-size: calc((var(--fs-100) + var(--fs-200)) / 2);
    }

    .btn-sm {
        font-size: var(--fs-100);
        padding: var(--padding-0) var(--padding-1);
    }

    .btn-lg {
        font-size: var(--fs-200);
        padding: var(--padding-2) var(--padding-3);
    }

    :where(.btn-primary, .btn-secondary, .btn-secondary-alt){
        color: var(--_clr-btn-text);
        background-color: var(--_clr-btn-bg);
        transition: background-color 0.2s, color 0.2s;

        * {
            color: var(--_-btn-text);
        } 
    }

    .btn-primary {
        --_clr-btn-text: var(--clr-white);
        --_clr-btn-bg: var(--clr-primary);
    }    

    .btn-secondary {
        --_clr-btn-text: var(--clr-black);
        outline: 1px solid var(--clr-black);
    }

    .btn-secondary-alt {
        --_clr-btn-text: var(--clr-white);
        outline: 1px solid var(--clr-white);
    }

    :where(.btn-primary, .btn-secondary, .btn-secondary-alt):hover {
        outline: none;
        color: var(--clr-white);
        background-color: var(--clr-accent);

        * {
            color: var(--clr-white);
        }
    }

    :is(.link, .link-alt){
        border: none;
        outline: none;
        text-decoration: none;
        transition: color 0.2s;
    }

    .link {
        color: var(--clr-dark-light);
    }

    .link-alt {
        color: var(--clr-white);
    }

    .link:hover, .link-alt:hover {
        color: var(--clr-primary);
    }
    /*********************** BUTTONS**************************/
}